:root{
    --background-color:#f4e8e5;
    --primary-pink:#EA78B5;
    --text-color: #49241D;
}

.page{
    margin: 30px;
}
.top_banner{
    display:flex;
    justify-content: space-between;
    align-items:center;

}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 18px;
  cursor: pointer;
}

.menu span {
  display: block;
  height: 3px;
  width: 100%;
  background-color: var(--text-color);
  border-radius: 2px;
  transition: all 0.3s ease;
}

.menu:hover span {
  background-color: var(--primary-pink);
}

.logo{
    font-family: "Updock", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 52px;
    color:var(--text-color);
}

.booking_button{
    text-align: center;
    padding: 5px;
    border-width: 3;
    border-style: solid;
    border-color: var(--primary-pink);
    text-decoration:none;
    color:var(--text-color);

}

.booking-button:visited{
    color:var(--text-color);
}

ul{
    list-style-type:none;
}

.price_container{
    display:flex;
    gap:20px;
    margin: 20px;
    justify-content: space-between;

}

